.container-flex {
    padding: 50px 0px 50px 0px;
}

.mainText {
    padding: 0px 80px 0px 80px;
}


.underline {
    text-decoration: underline;
}

.myCity {
    padding-left: 15px;
}

/* Searchbar */
body {
    background: #d1d5db;
}

.form {
    position: relative;
}

.form i {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px 0 10px 2px;

}


.form-input {
    height: 55px;
    text-indent: 15px;
    border-radius: 15px;
}

.form-input:focus {
    border: none;

}

.searchbar {
    margin: 50px 0 80px 0;
}