<div class="container-flex align-items-center">

    <section>
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="mainText display-3 text-center">FIND LOCAL</h1>
                <h1 class="mainText display-3 text-center">OR REMOTE JOBS</h1>
                <div class="d-flex justify-content-center">
                    <h1 class="display-3 text-center">IN YOUR</h1>
                    <h1 class=" myCity display-3 text-center underline">CITY</h1>
                </div>
                <!-- Searchbar -->
                <div class="container ">
                    <div class="row height d-flex justify-content-center align-items-center">
                        <div class="col-md-6">
                            <div class="form form-floating searchbar">
                                <i class="bi bi-search"></i>
                                <input type="text" class=" form-input form-control" id="floatingInput"
                                    placeholder="Search Jobs">
                                <label for="floatingInput">Search Jobs</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>

        <div class="card container-flex">
            <div class="row">
                <div class="container col-md-6">
                    <div class="card jobsCard">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the
                                card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Apply</a>
                        </div>
                    </div>
                </div>
                <div class="container col-md-6">
                    <div class="card jobsCard">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the
                                card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Apply</a>
                        </div>
                    </div>
                </div>
                <div class="container col-md-6">
                    <div class="card jobsCard">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the
                                card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Apply</a>
                        </div>
                    </div>
                </div>
                <div class="container col-md-6">
                    <div class="card jobsCard">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the
                                card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Apply</a>
                        </div>
                    </div>
                </div>
                <div class="container col-md-6">
                    <div class="card jobsCard">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the
                                card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Apply</a>
                        </div>
                    </div>
                </div>
                <div class="container col-md-6">
                    <div class="card jobsCard">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the
                                card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Apply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>