<div class="container align-items-center">
    <section>
        <div class="container padding70">
            <div class="jumbotron text-center">
                <h1 class="mainText display-3 text-center">FIND LOCAL</h1>
                <h1 class="mainText display-3 text-center">OR REMOTE JOBS</h1>
                <div class="d-flex justify-content-center">
                    <h1 class="display-3 text-center">IN YOUR</h1>
                    <h1 class=" myCity display-3 text-center underline">CITY</h1>
                </div>
                <!-- Searchbar -->
                <div class="container ">
                    <div class="row height d-flex justify-content-center align-items-center">
                        <div class="col-md-6">
                            <form>
                                <div class="form form-floating searchbar">
                                    <i class="bi bi-search"></i>
                                    <input type="search" class=" form-input form-control" id="floatingInput"
                                        placeholder="Search Jobs">
                                    <label for="floatingInput">Search Jobs</label>
                                </div>
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="seccion2">
    <div class="container-flex m-3">
        <div class="container paddingContainer">
            <div class="row">
                @if (listadoTrabajos.length > 0) {
                @for(listadoTrabajo of listadoTrabajos; track $index){
                <div class="container col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                <i class="bi bi-cpu"></i> {{listadoTrabajo.nombreTrabajoSubmit}}
                            </h4>
                            <br>
                            <div class="row align-items-center">
                                <div class="col-sm-4 col-md-12 ">
                                    <h6 class="m-0 p-0">Job's title:</h6>
                                </div>
                                <div class="mb-2 col-sm-8 col-md-12">
                                    <p>{{listadoTrabajo.nombreTrabajoSubmit}}
                                    </p>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-sm-4 col-md-12">
                                    <h6 class="m-0 p-0">Job type:</h6>
                                </div>
                                <div class="mb-2 col-sm-8 col-md-12">
                                    <p>{{listadoTrabajo.tipoTrabajoSubmit}}</p>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-sm-4 col-md-12">
                                    <h6 class=" m-0 p-0">Start Date:</h6>
                                </div>
                                <div class="mb-2 col-sm-8 col-md-12">
                                    <p>{{listadoTrabajo.fechaInicioSubmit}}</p>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-sm-4 col-md-12">
                                    <h6 class=" m-0 p-0">End Date:</h6>
                                </div>
                                <div class="mb-2 col-sm-8 col-md-12">
                                    <p>{{listadoTrabajo.fechaFinTrabajoSubmit}}</p>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-sm-4 col-md-12">
                                    <h6 class="m-0 p-0">Immediate Start:</h6>
                                </div>
                                <div class="mb-2 col-sm-8 col-md-12">
                                    @if (listadoTrabajo.inmediatoTrabajoSubmit) {
                                    <p>Yes</p>
                                    }@else{
                                    <p>No</p>
                                    }
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-sm-4 col-md-12">
                                    <h6 class=" m-0 p-0">Salary:</h6>
                                </div>
                                <div class="mb-2 col-sm-8 col-md-12">
                                    <p>{{listadoTrabajo.salarioTrabajoSubmit}} COP</p>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-sm-4 col-md-12">
                                    <h6 class="m-0 p-0">Comission:</h6>
                                </div>
                                <div class="mb-2 col-sm-8 col-md-12">
                                    <p>{{listadoTrabajo.comisionTrabajoSubmit}} COP</p>
                                </div>
                            </div>

                            <a href="#" class="btn btn-primary upNdelButtons">Apply</a>

                        </div>
                    </div>
                </div>
                } }@else{
                <h1 class="text-white">No Jobs available</h1>
                }
            </div>
        </div>
    </div>
</section>