.containerLogin {
    margin-top: 100px;
    padding: 30px;
}

.myforma {
    border: 1px solid blue;
    border-radius: 10px;
    padding: 1rem;
    /* max-width: 50%; */
}

.mybtn {
    border-radius: 10px;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px;
    background-color: blue;
    color: #FFF;
}

.mybtn:hover {
    background-color: #FFF;
    color: blue;
}

@media screen and (max-width: 768px) {
    .cardLogin {
        width: auto;
    }

    .containerLogin {
        margin-top: 50px;
        padding: 0px;
    }

}

@media screen and (min-width: 768px) {
    .cardLogin {
        width: auto;
    }
}

@media screen and (min-width: 1024px) {
    .cardLogin {
        min-width: 700px;
    }
}