.myInputBarJobs {
    color: #454343;
    border-color: #aaa;
    width: 100%;
    height: 45px;
    cursor: pointer;

}

.card {
    padding: 30px !important;
    border: 1px solid blue !important;
}

.upNdelButtons {
    padding: 10px;
    margin: 10px;
}

.myInputBarJobs:focus {
    box-shadow: none;
}

.mainContainer {
    padding: 30px;
}

@media (max-width:991px) {}