<div class=" mainContainer container-flex">
    <h1 class="display-3 ">Hello, {{nombre}}! Add a new Job:</h1>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <form>
                    <div class="  d-flex form-group">
                        <p class="display-6 ">Nombre del Trabajo:</p>
                        <input type="text" class=" myInputBarJobs form-control" placeholder="Enter"
                            formControlName="nombreTrabajo">
                    </div>
                    <div class="d-flex  form-group">
                        <p class="display-6">Tipo de Trabajo:</p>
                        <input type="text" name="" class=" myInputBarJobs form-control" placeholder="Enter "
                            formControlName="tipoTrabajo">
                    </div>
                    <div class="d-flex form-group">
                        <p class="display-6">Fecha de Inicio:</p>
                        <input type="text" name="" class=" myInputBarJobs form-control" placeholder="Enter "
                            formControlName="fechaInicioTrabajo">
                    </div>
                    <div class=" d-flex form-group">
                        <p class="display-6">Fecha de Terminación:</p>
                        <input type="text" name="" class=" myInputBarJobs form-control" placeholder="Enter "
                            formControlName="fechaFinalizacionTrabajo">
                    </div>
                    <div class=" d-flex form-group">
                        <p class="display-6">Availability:</p>
                        <input type="text" name="" class=" myInputBarJobs form-control" placeholder="Enter "
                            formControlName="disponibilidadTrabajo">
                    </div>
                    <div class=" d-flex form-group">
                        <p class="display-6">Salary:</p>
                        <input type="text" name="" class=" myInputBarJobs myInputBarJobs form-control"
                            placeholder="0.00" formControlName="salarioTrabajo">
                    </div>
                    <div class=" d-flex form-group">
                        <p class="display-6">Comisión:</p>
                        <input type="text" name="" class=" myInputBarJobs myInputBarJobs form-control"
                            placeholder="0.00" formControlName="comisionTrabajo">
                    </div>
                    <div class="col-md-12 text-center ">
                        <button type="submit" class=" mybtn btn btn-outline-primary ">Add job</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste rerum beatae ex? Debitis reprehenderit, a
            quam nisi distinctio quaerat praesentium laborum voluptatibus dolorem deserunt eos nesciunt modi vitae
            dolores dicta.
        </div>
    </div>
</div>