.myInputBarJobs {
    font-size: 2.5rem;
    color: #454343;
    /* border-color: #FFF;
    outline: none; */
    width: auto;
    height: 45px;
    margin-left: 10px;
}

.myInputBarJobs:focus {
    box-shadow: none;
}

.mainContainer,
.card {
    padding: 30px;
}

@media (max-width:991px) {}