.myInputBarJobs {
    color: #454343;
    border-color: #aaa;
    width: 100%;
    height: 45px;
}

.paddingContainer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.mybtnAdd {
    border-radius: 10px;
    width: 100%;
    background-color: blue;
    margin: 20px 0 20px 0;
    padding: 10px;
}

.mybtnAdd:hover {
    background-color: #FFF;
    color: blue;
}

.card {
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid blue;
}

.upNdelButtons {

    border-radius: 10px;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px;
}

.seccion2 {
    background-color: blue;
}

.myInputSelect:hover {
    cursor: pointer;
}

.myInputBarJobs:focus {
    box-shadow: none;
}

.mainContainer {
    padding: 30px;
}


@media screen and (max-width: 768px) {
    .cardEscribir {
        width: auto;
    }
}

@media screen and (min-width: 768px) {
    .cardEscribir {
        width: auto;
    }
}

@media screen and (min-width: 1024px) {
    .cardEscribir {
        min-width: 700px;
    }
}