<section>
    <div class="mainContainer container-flex d-flex">
        <div class="container">
            <h1 class="display-1 text-center p-5">Hello, {{nombre}}! Add a new Job:</h1>
            <div class="row">
                <div class="col-sm-12 align-items-center justify-content-center d-flex  ">
                    <div class="card cardEscribir">
                        <form (ngSubmit)="handleSubmitAddJob()">
                            <div class=" row align-items-center mb-1">
                                <div class="col-xl-4">
                                    <p class=" p-0">Job's title:</p>
                                </div>
                                <div class="col-xl-8">
                                    <input autocomplete="off" type="text" class="myInputBarJobs form-control"
                                        placeholder="Job's title" name="nombreTrabajoSubmit"
                                        [(ngModel)]="nombreTrabajoSubmit" id="nombreTrabajoSubmitID" />
                                </div>
                            </div>
                            <div class=" row align-items-center mb-1">
                                <div class="col-xl-4">
                                    <p class=" p-0">Job type:</p>
                                </div>
                                <div class="col-xl-8">
                                    <input autocomplete="off" type="text" class="myInputBarJobs form-control"
                                        placeholder="Type of Job" name="tipoTrabajoSubmit"
                                        [(ngModel)]="tipoTrabajoSubmit" id="tipoTrabajoSubmitID" />
                                </div>
                            </div>
                            <div class=" row align-items-center mb-1">
                                <div class="col-xl-4">
                                    <p class=" p-0">Start Date:</p>
                                </div>
                                <div class="col-xl-8">
                                    <input autocomplete="off" type="text" class="myInputBarJobs form-control"
                                        name="fechaInicioSubmit" [(ngModel)]="fechaInicioSubmit"
                                        id="fechaInicioSubmitID" placeholder="MM/DD/YYYY" />
                                </div>
                            </div>
                            <div class=" row align-items-center mb-1">
                                <div class="col-xl-4">
                                    <p class=" p-0">End Date:</p>
                                </div>
                                <div class="col-xl-8">
                                    <input autocomplete="off" type="text" class="myInputBarJobs form-control"
                                        name="fechaFinalizacionTrabajo" [(ngModel)]="fechaFinTrabajoSubmit"
                                        id="fechaFinalizacionTrabajoID" placeholder="MM/DD/YYYY" />
                                </div>
                            </div>
                            <div class=" row align-items-center mb-1">
                                <div class="col-xl-4">
                                    <p class="p-0">Immediate Start:</p>
                                </div>
                                <div class="col-xl-8">
                                    <select class="form-control myInputBarJobs myInputSelect"
                                        name="inmediatoTrabajoSubmit" [(ngModel)]="inmediatoTrabajoSubmit">
                                        <option selected value="false">No</option>
                                        <option value="true">Yes</option>
                                    </select>

                                </div>
                            </div>
                            <div class=" row align-items-center mb-1">
                                <div class="col-xl-4">
                                    <p class=" p-0">Salary:</p>
                                </div>
                                <div class="col-xl-8">
                                    <input autocomplete="off" type="number" class="myInputBarJobs form-control"
                                        placeholder="0.00" name="salarioTrabajoSubmit"
                                        [(ngModel)]="salarioTrabajoSubmit" id="salarioTrabajoSubmitID" />
                                </div>
                            </div>
                            <div class=" row align-items-center mb-1">
                                <div class="col-xl-4">
                                    <p class=" p-0">Comission:</p>
                                </div>
                                <div class="col-xl-8">
                                    <input autocomplete="off" type="number" class="myInputBarJobs form-control"
                                        placeholder="0.00" name="comisionTrabajoSubmit"
                                        [(ngModel)]="comisionTrabajoSubmit" id="comisionTrabajoSubmitID" />
                                </div>
                            </div>
                            <div class="col-md-12 text-center ">
                                <button type="submit" class="mybtnAdd btn btn-primary">Add Job</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Searchbar -->
            <!-- <div class="container ">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-6">
                        <form [formGroup]="searchForm" (ngSubmit)="handleSubmitSearch()" role="search">
                            <div class="form form-floating searchbar">
                                <i class="bi bi-search"></i>
                                <input type="search" class="form-input form-control" id="floatingInput"
                                    placeholder="Search Jobs" formControlName="searchForm">
                                <label for="floatingInput">Search Jobs</label>
                            </div>
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- SIDE -->
<section class="seccion2">
    <div class="container-flex seccion2">
        <div class="container paddingContainer">
            <div class="row">
                @if (listadoTrabajosArray.length > 0) {
                @for(listadoTrabajo of listadoTrabajosArray; track $index){
                <div class="container col-sm-12 col-md-6 col-lg-4 mb-4">
                    <form [formGroup]="credentialsForm">
                        <div class="card jobsCard">
                            <i class="bi bi-cpu"></i>
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{listadoTrabajo.nombreTrabajoSubmit}}</h5>
                                <div class=" row align-items-center mb-1">
                                    <div class="col-xl-4">
                                        <p class=" p-0">Job's title:</p>
                                    </div>
                                    <div class="col-xl-8">
                                        <input autocomplete="off" type="text" class="myInputBarJobs form-control"
                                            placeholder="{{listadoTrabajo.nombreTrabajoSubmit}}"
                                            formControlName="nombreTrabajoSubmit2" />
                                    </div>

                                </div>
                                <div class=" row align-items-center mb-1">
                                    <div class="col-xl-4">
                                        <p class=" p-0">Job type:</p>
                                    </div>
                                    <div class="col-xl-8">
                                        <input autocomplete="off" type="text" class="myInputBarJobs form-control"
                                            placeholder="{{listadoTrabajo.tipoTrabajoSubmit}}"
                                            formControlName="tipoTrabajoSubmitUpdate2" />
                                    </div>
                                </div>
                                <div class=" row align-items-center mb-1">
                                    <div class="col-xl-4">
                                        <p class=" p-0">Start Date:</p>
                                    </div>
                                    <div class="col-xl-8">
                                        <input autocomplete="off" type="text" class="myInputBarJobs form-control"
                                            placeholder="{{listadoTrabajo.fechaInicioSubmit}}"
                                            formControlName="fechaInicioSubmitUpdate2" />
                                    </div>
                                </div>
                                <div class=" row align-items-center mb-1">
                                    <div class="col-xl-4">
                                        <p class=" p-0">End Date:</p>
                                    </div>
                                    <div class="col-xl-8">
                                        <input autocomplete="off" type="text" class="myInputBarJobs form-control"
                                            placeholder="{{listadoTrabajo.fechaFinTrabajoSubmit}}"
                                            formControlName="fechaFinTrabajoSubmitUpdate2" />
                                    </div>
                                </div>
                                <div class=" row align-items-center mb-1">
                                    <div class="col-xl-4">
                                        <p class="p-0">Immediate Start:</p>
                                    </div>
                                    <div class="col-xl-8">
                                        <input autocomplete="off" type="text"
                                            placeholder="{{listadoTrabajo.inmediatoTrabajoSubmit? 'Yes' : 'No'}}"
                                            class="myInputBarJobs form-control" id="inmediatoTrabajoSubmitUpdate"
                                            [value]="listadoTrabajo.inmediatoTrabajoSubmit ? 'Yes' : 'No'"
                                            formControlName="inmediatoTrabajoSubmitUpdate2">
                                    </div>
                                </div>
                                <div class=" row align-items-center mb-1">
                                    <div class="col-xl-4">
                                        <p class=" p-0">Salary:</p>
                                    </div>
                                    <div class="col-xl-8">
                                        <input type="number" class="myInputBarJobs form-control"
                                            placeholder="{{listadoTrabajo.salarioTrabajoSubmit}}"
                                            formControlName="salarioTrabajoSubmitUpdate2" />
                                    </div>
                                </div>
                                <div class=" row align-items-center mb-1">
                                    <div class="col-xl-4">
                                        <p class=" p-0">Comission:</p>
                                    </div>
                                    <div class="col-xl-8">
                                        <input autocomplete="off" type="number" class="myInputBarJobs form-control"
                                            placeholder="{{listadoTrabajo.comisionTrabajoSubmit}}"
                                            formControlName="comisionTrabajoSubmitUpdate2" />
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row d-flex">
                                        <div class="col-sm-6">
                                            <button (click)="handleDeleteJob(listadoTrabajo._id)"
                                                class="btn btn-danger upNdelButtons">Delete</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="submit" (click)="handleUpdateJob(listadoTrabajo._id)"
                                                class="btn btn-warning upNdelButtons">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                } } @else {
                <h1 class="text-white">No Jobs available</h1>
                }

            </div>
        </div>
    </div>
</section>